form {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: var(--max-width);
  padding: 25px;
  box-sizing: border-box;
  border-top: 8px solid #102305;
  margin: 5rem auto 5rem auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #102305;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 0.9rem;
}

input, select {
  box-sizing: border-box;
}

input[type="text"],
input[type="number"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #b8c59b;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 1rem;
  background-color: #f9faf6;
  transition: all 0.3s ease;
}

input[type="file"] {
  margin-bottom: 10px;
}

input:focus,
select:focus {
  border-color: #102305;
  outline: none;
  background-color: #ffffff;
}

/* Image preview */
.preview-container {
  text-align: center;
  margin-bottom: 20px;
}

.preview-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #b8c59b;
  display: none;
  /* cachée avant sélection */
}

button {
  margin-top: 5rem;
  width: 100%;
  background-color: #102305;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #314d1f;
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  margin-top: 10px;
}

@media (max-width: 480px) {
  form {
    padding: 20px;
  }

  h2 {
    font-size: 1.3rem;
  }
}
