.pilgrimage {
  max-width: var(--max-width);
  margin: 3rem auto;
  color: var(--primary-color);
  line-height: 1.7;
}

.pilgrimage-title {
  text-align: center;
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.pilgrimage p {
  margin-bottom: 1.3rem;
  text-align: justify;
}

.pilgrimage .highlight {
  color: var(--primary-color);
  font-weight: 600;
}

.pilgrimage .date {
  font-weight: 600;
  color: var(--primary-color);
}

.pilgrimage strong {
  color: var(--primary-color);
}

.note {
  font-style: italic;
  background: var(--secondary-color-b);
  padding: 0.8rem 4rem;
  border-left: 4px solid var(--primary-color);
  border-radius: 8px;
  margin-top: 1rem;
  box-sizing: border-box;
}

#pelerinage-section {
  padding-top: 8rem;
}

.menu li:nth-child(4) a {
 color: white;
}

#contact-section{
  margin-bottom: 20rem;
}